<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>384222624685-uqgh776q8pj59bouug6mpaf9n9os4v1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384222624685-uqgh776q8pj59bouug6mpaf9n9os4v1s</string>
	<key>API_KEY</key>
	<string>AIzaSyAIH-fvkl1re1C_cf7LFdVjKA606sg5fsE</string>
	<key>GCM_SENDER_ID</key>
	<string>384222624685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zacharyespiritu.MathBattleII</string>
	<key>PROJECT_ID</key>
	<string>project-4215699079554246127</string>
	<key>STORAGE_BUCKET</key>
	<string>project-4215699079554246127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:384222624685:ios:abc575edf8019b42</string>
	<key>DATABASE_URL</key>
	<string>https://mathbattle.firebaseio.com</string>
</dict>
</plist>